{% extends 'base.html.twig' %}

{% block title %}製品紹介ページ{% endblock %}

{% block body %}
    <h1>製品紹介ページ</h1>

    <a href="{{ path('product_new') }}">新規登録</a>
    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>商品名</th>
                <th>説明</th>
                <th>数量</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">
                        {{ product.name }}
                    </a>
                </td>
                <td>{{ product.description }}</td>
                <td>{{ product.size }}</td>
                <td>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">編集</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_home_index') }}">HOME</a>
{% endblock %}
